<div>
    <div class="main">
        <div>
            <%= variables.render({definition: definition, data: data}) %>
        </div>
    </div>
    <div class="commands">
        <div>
            <a data-action="close" class="button blue">OK</a>
        </div>
    </div>
</div>