@import "lib";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,500,700,900");

/* #Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	width: 100%;
	height: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* #Basic Styles
================================================== */
body {
	background: #383838 url('http://cdn.fluidcms.net/images/background.gif');
	font: 12px/18px 'Roboto', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
	
	
/* #Links
================================================== */
.link-button {
	color: white;
	font-weight: $bold;
	border-radius: 2px;
	cursor: default;
	&:active {
		background: rgba(0, 0, 0, .1);
	}
}
.link-button[disabled] {
	opacity: .3;
	&:active {
		background: none;
	}
}

.icon-button {
	position: relative;
	padding-left: 14px;
	@extend .link-button;
	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		top: 3px;
		left: 0;
		background-image: url('http://cdn.fluidcms.net/images/sprite.png');
	}
}
.plus:before {
	background-position: 0 -32px;
}


/* #Buttons
================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-weight: $black;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	cursor: default;
	background-color: #222;
	@include background(linear-gradient(top, #a4a4a4 0%,  #a4a4a4 5%, #7a7a7a 6%, #515151 100%));
	background-repeat: no-repeat;
	border-radius: 3px;
	border: 1px solid #313131;
	padding: 0 16px;
	
	&.blue {
		@include background(linear-gradient(top, #6fc6fc 0%,  #6fc6fc 5%, #2fabf7 6%, #1677b4 100%));
	}
	
	&:active {
		@include background(linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%));
		&.blue {
			@include background(linear-gradient(top, #6fc6fc 0%,  #6fc6fc 5%, #1677b4 6%, #2fabf7 100%));
		}
	}
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	opacity: .3;
	&:active {
		@include background(linear-gradient(top, #3f3f3f, #000));
		&.blue {
			@include background(linear-gradient(top, #6fc6fc 0%,  #6fc6fc 4%, #2fabf7 5%, #1677b4 100%));
		}
	}
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* #Forms
================================================== */

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select {
	-webkit-appearance: textfield;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	height: 23px;
	outline: none;
	font-size: 13px;
	color: #333;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	background: #fff;
	@include box-shadow(0px 1px 1px rgba(black, .1));
	margin: 6px 0 18px 0;
	padding: 2px 8px;
}
select {
	padding: 5px 0;
	height: auto;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
	@include box-shadow(0px 0px 5px rgba(black, .3));
	}
	
