@import "lib";
@import "compass/css3/box-shadow";

/* #Context Menu
================================================== */
div.context-menu {
	z-index: 10;
	position: absolute;
	width: 260px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 1px;
	@include box-shadow(0 3px 5px rgba(0, 0, 0, .50));
	
	ul {
		padding: 4px 0;
		li {
			a {
				color: #333;
				font-size: 13px;
				display: block;
				padding: 4px 8px;
				&:hover {
					background: #ddd;
				}
			}
		}
	}
}