<form accept-charset="utf-8">
	<label for="addSectionNameInput">Section Name</label>
	<input type="text" id="addSectionNameInput" name="name" value="" tabindex="1" autocomplete="no" spellcheck="yes" maxlength="64" data-validation="sectionName">
	
	<div class="buttons">
		<a data-action="close" class="button">Cancel</a>
		<button type="submit" ondblclick="$(this).attr('disabled', true);" class="blue" tabindex="2">Add Section</button>
	</div>
</form>