@import "lib";
@import "compass/css3/box-shadow";

/* #Page Editor
================================================== */
div.page-editor {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 42px 0 0 306px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	&>div {
		width: 100%;
		height: 100%;
		background: white;
		
		form {
			width: 660px;
			margin: 0 auto;
			padding: 40px 0;
			
			label {
				display: block;
				font-weight: $medium;
				color: #333;
				font-size: 20px;
				text-transform: capitalize;
				margin: 0 0 18px 0;
			}
			
			textarea {
				margin: 0 0 36px 0;
				border-radius: 0px;
				width: 100%;
				resize: none;
				height: 18px;
				font-family: "Roboto", sans-serif;
				font-size: 14px;
				font-weight: $light;
				line-height: 18px;
				padding: 8px 14px;
				@include box-shadow(0 1px 3px rgba(0, 0, 0, .13));
				border: 1px solid #bfbfbf;
			}
		}
	}
}