@import "lib";
@import "compass/css3/text-shadow";


/* #Structure container
================================================== */
.structure {
	&>a.icon-button {
		margin-left: $main-margin-left;
		display: block;
		float: left;
		margin-top: 4px;
	}
	div {
		a.cancel {
			margin-right: 12px;
		}
		margin-right: $main-margin-right;
		float: right;
	}
}


/* #Structure list
================================================== */
ul.structure {
	margin-top: $main-margin-top;
	margin-bottom: 14px;
	padding-bottom: 10px;
	&>li {
		a {
			position: relative;
			display: block;
			color: white;
			font-size: 12px;
			line-height: 14px;
			cursor: default;
			@include single-text-shadow(0px, 1px, 2px, rgba(0, 0, 0, .75));
	
			span {
				display: block;
				color: #808080;
				@include single-text-shadow(none);
			}			
		}
		&>a {
			padding-top: 8px;
			border-top: 1px dotted #3e3e3e;
			padding-left: 34px;
	
			&:before {
				content: "";
				display: block;
				width: 5px;
				height: 7px;
				position: absolute;
				top: 14px;
				left: 16px;
				background-image: url('../images/sprite.png');
				background-position: -80px 0;
			}
	/*		&:after {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 14px;
				right: $main-margin-right;
				background-image: url('../images/sprite.png');
				background-position: -85px 0;
			}*/
		}
		ul {
			padding-bottom: 2px;
			padding-top: 8px;
			padding-left: 34px;
			li {
				position: relative;
				&:before {
					position: absolute;
					background-image: url('../images/structure-tree.png');
					background-repeat: no-repeat;
					background-position: left top;
					padding-top: 12px;
					height: 100%;
					width: 16px;
					content: "";
					display: block;
					top: -0;
					left: 10px;
				}
				&:last-child:before {
					background-image: url('../images/structure-tree-bottom.png');
					background-position: left bottom;
				}
				padding-left: 30px;
			}
		}
	}
	&>li:last-child {
		border-bottom: 1px dotted #3e3e3e;
	}
	li.sortable-placeholder {
		height: 37px;
		background: rgba(255, 255, 255, .05);
		background-clip: content-box;
	}
	ul ul {
		padding-left: 0;
	}
}
