/* Table of Content
==================================================
#Colors definitions */

/* #Colors definitions
================================================== */
$yellow: #ecc800;

$green: #5ed754;

$light-gray: #dcdcdc;