<% if (!is_new) { %>
    <img src="<%= rootpath %>file-preview/<%= id %>" width="" height="" alt="">
<% } else { %>
    <img src="" width="" height="" alt="" style="display: none;">
<% } %>
<span><%= name %></span>