@import "../globals/lib";
@import "../../mixins";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/* Table of Content
==================================================
  # Container
  # Navigation
  # Tabs
  # Header  */

/* # Container
================================================== */
#pannel {
  z-index: 3;
  position: fixed;
  background: #3b3b3b;
  float: left;
  height: 100%;
  max-height: 100%;
  width: $main-width;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .75));
  @include display-flex;
  @include flex-flow(column nowrap);
}

#pannel {
  #content {
    width: 306px;
    @include flex-grow(1);
    @include display-flex;
    @include flex-flow(column nowrap);
  }
  #nav {
    width: 306px;
    height: 42px;
    @include flex-shrink(0);
  }
}


/* # Tabs
================================================== */
#pannel ul.tabs {
  height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: $main-margin-bottom;
  @include background(linear-gradient(top, #444444 0px, #444444 1px, #2f2f2f 1px));
  overflow: hidden;

  li {
    height: 22px;
    margin: 0;
    padding: 0;
    float: left;
    a {
      display: block;
      line-height: 22px;
      padding: 0 $main-margin-left;
      font-weight: $light;
      font-size: 12px;
      color: white;
      cursor: pointer;
      @include background(linear-gradient(top, #4f4f4f 0px, #4f4f4f 1px, #3b3b3b 1px));
      @include box-shadow(0px 0px 4px rgba(black, .75));
    }
  }
}

/* # Header
================================================== */
#content div.header {
  a.icon-button {
    margin-top: $main-margin-top;
    @extend .button;
    @extend .blue;
    margin-left: $main-margin-left;
    padding-left: 26px;
    &:before {
      top: 6px;
      left: 10px;
    }
  }
  margin-bottom: $main-margin-bottom;
}
