<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Fluid Test Suite">
            <directory>./test/Fluid/</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="fluid.websocket" value="8099" />
    </php>
</phpunit>