<ul>
    <li><a data-action="editPage">Edit</a></li>
    <li><a data-action="configPage">Settings</a></li>
    <li><a data-action="addPage">Add Child Page</a></li>
    <li><a data-action="deletePage">Delete</a></li>
</ul>