<div>
    <a data-action="preview" class="toolbar-button preview current">Page</a>
    <a data-action="edit" class="toolbar-button edit">Page Editor</a>
</div>

<div>
    <a data-action="reload" class="reload">Reload</a>
    <div class="select">
        Language: <%= language %>
    </div>
</div>
