@import "lib";
@import "../mixins";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/* Table of Content
==================================================
  # Container
  # Navigation
  # Target
  # Loader & Error  */

/* # Container
================================================== */
#main {
  z-index: 3;
  position: fixed;
  background: #4d4d4d;
  float: left;
  height: 100%;
  width: 306px;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .75));
}

#main {
  #content {
    height: 100%;
    padding-top: 42px;
    max-width: 306px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .version + #content {
    padding-bottom: 160px; // TODO this needs to be dynamically allowed
  }
}

/* # Navigation
================================================== */
#main nav {
  position: fixed;
  width: 306px;
  height: 42px;
  @include background(linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%));

  ul {
    @include display-box;
    @include box-pack(center);

    li {
    }
  }

  a {
    margin: 0 3px;
    position: relative;
    display: block;
    width: 32px;
    height: 42px;
    cursor: default;
    &:after {
      position: absolute;
      top: 13px;
      left: 8px;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url('../images/sprite.png');
    }
    &.structure:after {
      background-position-x: 0;
    }
    &.components:after {
      background-position-x: -16px;
    }
    &.files:after {
      background-position-x: -32px;
    }
    &.intl:after {
      background-position-x: -48px;
    }
    &.diff:after {
      background-position-x: -64px;
    }
    &.current {
      background: rgba(0, 0, 0, .14);
      @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, .43));
      &:after {
        background-position-y: -16px;
      }
    }
  }
}

/* # Target
================================================== */
#target {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 42px 0 0 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  iframe {
    width: 100%;
    height: 100%;
  }
}

/* #￼Loader & Error
================================================== */
.loader, .error {
  background-color: #383838;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  legt: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-flex-pack: center;
  -moz-box-pack: center;
  -moz-flex-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
  -o-box-pack: center;
  -o-flex-pack: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -moz-box-align: center;
  -moz-flex-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
  -o-box-align: center;
  -o-flex-align: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;

  text-align: center;
  h1 {
    margin-bottom: 20px;
    color: white;
  }
}

.error {
  h1 {
    color: red;
  }
}