@import "lib";
@import "mixins";

/* Table of Content
==================================================
  # History￼ */

/* # History
================================================== */
div.history {
  margin-top: $main-margin-top;
  div.user {
    color: white;
    line-height: 18px;
    img {
      float: left;
      border: 1px solid white;
      border-radius: 8px;
      margin-right: 8px;
    }
    border-bottom: 1px solid #515151;
    margin: 0 $main-margin-left;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  ul {
    li {
      margin: $list-link-items-margin $main-margin-left $list-link-items-margin $main-margin-left - 8;
      a {
        position: relative;
        display: inline-block;
        @extend .list-link;
        padding-left: $list-link-sprite-left;
        &:before {
          @include sprite-after(16px, 16px);
          @include sprite-position(0 0);
          position: absolute;
          top: 1px;
          left: 8px;
        }
      }
      span {
        float: right;
        color: #555;
      }

      &.ghost {
        opacity: .3;
      }
    }
  }
}