@import "../mixins";

/* Table of Content
==================================================
  # Font families
  # Font weight
  # Margins and dimensions
  # Colors definitions */

/* #Font families
================================================== */

/* #Font weight
================================================== */
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$black: 900;

/* #Margins and dimensions
================================================== */
$main-margin-top: 16px;
$main-margin-left: 16px;
$main-margin-right: 16px;
$main-margin-bottom: 16px;

/* #Colors definitions
================================================== */
$yellow: #ecc800;

$green: #5ed754;

$light-gray: #dcdcdc;

$blue: #1b81c0;
$light-blue: #3eb6ff;
$dark-blue: #0f547e;

/* #Sprites
================================================== */
$sprite-size: 137px 122px;

@mixin sprite() {
  background-image: url(../images/sprite.png);
}

@mixin sprite-position($position) {
  @include sprite();
  background-position: $position;
}

@mixin sprite-after($width, $height) {
  content: "";
  display: block;
  @include sprite();
  position: absolute;
  width: $width;
  height: $height;
}