@import "lib";
@import "../mixins";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/* Table of Content
==================================================
  # Container
  # Navigation
  # Tabs
  # Header  */

// TODO: rename from main to pannel

/* # Container
================================================== */
#main {
  z-index: 3;
  position: fixed;
  background: #3b3b3b;
  float: left;
  height: 100%;
  max-height: 100%;
  width: $main-width;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .75));
  @include display-flex;
  @include flex-flow(column nowrap);
}

#main {
  #content {
    width: 306px;
    @include flex-grow(1);
    @include display-flex;
    @include flex-flow(column nowrap);
  }
  #nav {
    width: 306px;
    height: 42px;
    @include flex-shrink(0);
  }
}

/* # Navigation
================================================== */
#main #nav nav {
  width: 306px;
  height: 42px;
  @include background(linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%));

  ul {
    @include display-box;
    @include box-pack(center);

    li {
    }
  }

  a {
    margin: 0 3px;
    position: relative;
    display: block;
    width: 32px;
    height: 42px;
    cursor: default;
    &:after {
      top: 13px;
      left: 8px;
      @include sprite-after(16px, 16px);
    }
    &.structure:after {
      background-position-x: 0;
    }
    &.components:after {
      background-position-x: -16px;
    }
    &.files:after {
      background-position-x: -32px;
    }
    &.intl:after {
      background-position-x: -48px;
    }
    &.tools:after {
      @include sprite-position(-74px -32px);
    }
    &.history:after {
      background-position-x: -64px;
    }
    &.current {
      background: rgba(0, 0, 0, .14);
      @include current-item-shadow;
      &:after {
        background-position-y: -16px;
      }
    }
    &.current.tools:after {
      @include sprite-position(-74px -48px);
    }
  }
}

/* # Tabs
================================================== */
#main ul.tabs {
  height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: $main-margin-bottom;
  @include background(linear-gradient(top, #444444 0px, #444444 1px, #2f2f2f 1px));
  overflow: hidden;

  li {
    height: 22px;
    margin: 0;
    padding: 0;
    float: left;
    a {
      display: block;
      line-height: 22px;
      padding: 0 $main-margin-left;
      font-weight: $light;
      font-size: 12px;
      color: white;
      cursor: pointer;
      @include background(linear-gradient(top, #4f4f4f 0px, #4f4f4f 1px, #3b3b3b 1px));
      @include box-shadow(0px 0px 4px rgba(black, .75));
    }
  }
}

/* # Header
================================================== */
#content div.header {
  a.icon-button {
    margin-top: $main-margin-top;
    @extend .button;
    @extend .blue;
    margin-left: $main-margin-left;
    padding-left: 26px;
    &:before {
      top: 6px;
      left: 10px;
    }
  }
  margin-bottom: $main-margin-bottom;
}
