<input id="fileUploader" type="file" accept="image/jpeg,image/png,image/gif" multiple>

<div class="header">
    <label class="no-class" for="fileUploader">
        <a data-action="addFile" class="icon-button plus"><!-- File -->Image</a>
    </label>
</div>

<ul class="files">
    <% files.each(function(file, key) { %>

    <li data-id="<%= file.get('id') %>" data-name="<%= file.get('name') %>">
    </li>

    <% }); %>
</ul>