<% if (hasGroups) { %>
    <nav>
        <ul>
            <% if (hasVariables) { %>
            <li><a>Variables</a></li>
            <% } %>
            <% $.each(groups, function(key, group) { %>
            <li><a data-group="<%= group.name %>"><%= group.name %></a></li>
            <% }) %>
        </ul>
    </nav>
<% } %>

<div id="oiheciohreoivr" data-name="variable-collection"></div>