@import "../globals/lib";
@import "../../mixins";
@import "compass/css3/box";

/* Table of Content
==================================================
  # Layout
  # Files￼ */

/* # Layout
================================================== */
#content>div.files {
  @include flex-grow(1);
}

/* # Files
================================================== */
#content>div.files {

  input[type="file"] {
    position: absolute;
    visibility: hidden;
  }
  &>label a.icon-button {
    margin-left: $main-margin-left;
    display: block;
    float: left;
    margin-top: $main-margin-top;
    margin-bottom: 10px;
  }

  ul {
    clear: both;
    margin-left: $main-margin-left;
    li {
      position: relative;
      float: left;
      display: block;
      width: 84px;
      height: 84px;
      padding: 0;
      margin: 0 6px 6px 0;
      @include display-box;
      @include box-align(center);

      img {
        cursor: move;
        display: block;
        border: 1px solid transparent;
        &:hover {
          border-color: $blue;
        }
      }

      img.dark {
        opacity: .1;
      }

      .progress {
        position: absolute;
        top: 56px;
        left: 9px;
        display: block;
        width: 64px;
        height: 3px;
        border-radius: 2px;
        background: black;
        div {
          position: absolute;
          top: 0;
          left: 0;
          background: #0084ff;
          height: 3px;
        }
      }
    }
    li:nth-child(3n) {
      margin: 0 0 14px 0;
    }
  }
}
