@import "../globals/lib";
@import "../../mixins";
@import "../../animation";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/* Table of Content
==================================================
  # qTip￼ */


/* #￼qTip
================================================== */
.qtip {
  position: absolute;
  display: none;
  border-radius: 2px;
  @include background(linear-gradient(top, #d2d2d2, #868686));
  @include box-shadow(0px 1px 5px rgba(black, .5));

  .qtip-content{
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    word-wrap: break-word;
    color: #333;
    padding: 4px 10px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -6px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent #d2d2d2 transparent;
  }

  @include animation-fix(tooltip-display, .3s, 1, both, ease-out);
}

@include keyframes-fix(tooltip-display) {
	0% {
      margin-top: -10px;
      opacity: 0;
	}
	100% {
      margin-top: 0;
      opacity: 1;
	}
}
