<div class="<%= type %>">
    <% if (type === 'content') { %>
        <div class="content-editor" contenteditable="true">
            <% if (html !== '' && html !== null) { %><%= html %><% } else { %><p><br></p><% } %>
        </div>
    <% } else if (type === 'string') { %>
        <div class="string-editor" contenteditable="true"><%= html %></div>
    <% } %>

    <div class="commands">
        <div>
            <a data-action="cancel" class="button">Cancel</a>
            <a data-action="save" class="button blue">Save</a>
        </div>
    </div>
</div>