<nav>
    <ul>
        <% $.each(items, function() { %>
        <li>
            <a data-pannel="<%= this.pannel %>"
                    title="<% if (this.name == 'Files') { %>Images<% } else { %><%= this.name %><% } %>"
                    class="<%= this.className %> <% if (current==this.className) { %>current<% } %>"
                    ></a>
        </li>
        <% }) %>
    </ul>
</nav>
