<form>
    <div>
        <label for="login-username">Email address</label><br>
        <input type="text" id="login-username" name="email" value="" tabindex="1" autocomplete="on" spellcheck="false" maxlength="255">
    </div>
    <div>
        <label for="login-password">Password</label><br>
        <input type="password" id="login-password" name="password" value="" tabindex="1">
    </div>
    <button type="submit">Login</button>
</form>

<hr>

<button>Create account</button>