@import "../globals/lib";
@import "../../mixins";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/* Table of Content
==================================================
	# Variables
	# Content variable
	# Image variable￼ */

/* # Variables
================================================== */
div.page-editor, #target>div.component, #target>div.variables {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 42px 0 0 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  background: white;

  &>div {
    width: 100%;
    height: 100%;
    background: white;
  }

  nav {
    position: fixed;
    background-color: #dcdcdc;
    width: 214px;
    height: 100%;
    @include box-shadow(inset -2px 0px 5px rgba(black, .07));
    ul {
      padding-top: 18px;
      li {
        a {
          display: block;
          padding: 0 $big-margin-left;
          cursor: pointer;
          text-transform: capitalize;
          font-size: 13px;
          line-height: $big-list-item-line-height;
        }
        &:hover {
          background-color: #c9c9c9;
        }
        &.current a {
          background-color: $gray-blue;
          @include current-item-shadow;
          color: white;
        }
      }
    }
  }

  nav + div.main {
    padding-left: 214px;
  }

  div.main {
    padding-top: $big-margin-top - $big-margin-top/2;

    header {
      padding-top: $big-margin-top/2;
      padding-bottom: $big-margin-bottom;
      margin-left: $big-margin-left;

      img {
        float: left;
        margin-right: $main-margin-right;
      }

      line-height: 32px;
      font-size: 22px;
      font-weight: $light;
    }

    [data-item], [data-array-item] {
      display: block;
      padding-top: $big-margin-top/2;
      padding-bottom: $big-margin-bottom/2;
      clear: both;

      div.label {
        width: 90px;
        float: left;
        margin-left: $big-margin-left;
        color: $gray;
        font-size: 13px;
        font-weight: $bold;
      }
    }

    a[data-item], a[data-array-item] {
      cursor: pointer;

      &:after {
        content: "\0020";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }

      div.data {
        margin-left: 90px+$big-margin-left;
        margin-right: $big-margin-right;
        min-height: 1em;
      }

      &:hover div.label {
        color: $blue;
      }
      &:active div.label {
        color: $dark-blue;
      }
    }

    div[data-item] {
      div.label.array {
        color: $dark-gray;
        width: auto;
        float: none;
        position: relative;
        cursor: pointer;

        &:before {
          @include sprite-after(10px, 10px);
          @include sprite-position(-35px -64px);
          position: absolute;
          top: 4px;
          left: -18px;
        }

        &:hover {
          color: $blue;
          &:before {
            @include sprite-position(-45px -64px);
          }
        }
        &:active {
          color: $dark-blue;
          &:before {
            @include sprite-position(-55px -64px);
          }
        }
      }

      div.label.array + div.array-item {
        margin-top: $big-margin-top/2;
      }

      div.array-item {
        cursor: move;
        position: relative;
        padding-left: 80px;
        @include background(
            linear-gradient(top, transparent 0%, transparent 19px, #e9e9e9 19px, #e9e9e9 50%, transparent 50%),
            linear-gradient(bottom, transparent 0%, transparent 19px, #e9e9e9 19px, #e9e9e9 50%, transparent 50%),
            linear-gradient(left, #e9e9e9, #e9e9e9)
        );
        background-size: 1px 100%, 1px 100%, 28px 1px;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 40px 0, 40px 0, 40px 19px;

        div.label {
          margin-left: 0;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          left: 40px;
          width: 28px;
          height: 1px;
          background: #e9e9e9;
          bottom: 19px;
        }
        &:before {
          @include sprite-after(5px, 15px);
          @include sprite-position(-65px -64px);
          position: absolute;
          top: 50%;
          left: 38px;
          margin-top: -7px;
        }
        &:hover:before {
          @include sprite-position(-70px -64px);
        }
      }
    }

  }
}

/* # Content variable
================================================== */
div.page-editor div.main div.content,
#target>div.component div.main div.content,
#target>div.variables div.main div.content {
  p {
    margin-bottom: 10px;
  }
  h1 {
    font-weight: $black;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: $black;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  h3 {
    font-weight: $black;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 6px;
  }
  h4 {
    font-weight: $black;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  h5 {
    font-weight: $black;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  h6 {
    font-weight: $black;
    font-size: 12px;
    line-height: 18px;
  }
  ul, ol {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc outside;
  }

  img {
    max-width: 100%;
  }

  div.component {
    margin-bottom: 10px;
    line-height: 24px;
    height: 24px;
    img {
      display: block;
      float: left;
      margin: 0;
      margin-right: 8px;
      width: 41px;
      height: 24px;
    }
  }
  div[data-component] {
    -webkit-user-select: none;
  }

}

/* # Image variable
================================================== */
div.page-editor div.main div.image,
#target>div.component div.main div.image,
#target>div.variables div.main div.image {
  img {
    padding: 2px;
    border: 1px dotted #b2b2b2;
    max-width: 100%;
    &.active {
      border: 1px solid $blue;
    }
  }
}