<ul class="tabs">
    <li><a data-action="text">Text</a></li>
</ul>
<div class="text">
    <div class="row">
        <select data-role="tag" disabled>
            <option data-role="h1">Header 1</option>
            <option data-role="h2">Header 2</option>
            <option data-role="h3">Header 3</option>
            <option data-role="h4">Header 4</option>
            <option data-role="h5">Header 5</option>
            <option data-role="h6">Header 6</option>
            <option data-role="p" selected>Paragraph</option>
            <option data-role="ul">Unordered List</option>
            <option data-role="ol">Ordered List</option>
        </select>
        <div class="group">
            <a data-role="alignLeft" data-disabled></a>
            <a data-role="alignCenter" data-disabled></a>
            <a data-role="alignRight" data-disabled></a>
            <a data-role="justifyLeft" data-disabled></a>
        </div>
    </div>
    <div class="row">
        <div class="group">
            <a data-role="bold" data-disabled></a>
            <a data-role="italic" data-disabled></a>
            <a data-role="underline" data-disabled></a>
            <a data-role="strikeThrough" data-disabled></a>
        </div>
        <div class="group">
            <a data-role="anchor" data-disabled>Link</a>
        </div>
    </div>
</div>