<div>
    <div class="content" contenteditable="true">
        <%= content %>
    </div>
    <div class="controls">
        <div>
            <a data-action="cancel" class="button">Cancel</a>
            <a data-action="save" class="button blue">Save</a>
        </div>
    </div>
</div>