<nav>
    <ul>
    	<% $.each(items, function() { %>
    		<li>
    			<a 
    				href="<% if(this.className!=='structure') { %><%= this.className %><% } %>" 
    				title="<%= this.name %>" 
    				class="<%= this.className %> <% if (current==this.className) { %>current<% } %>"
    			></a>
    		</li>
    	<% }) %>
    </ul>
</nav>
