/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* #Basic Styles
================================================== */
body {
  background: #383838 url("../images/background.gif");
  font: 12px/18px 'Roboto', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* #Links
================================================== */
.link-button, .icon-button {
  color: white;
  font-weight: 700;
  border-radius: 2px;
  cursor: default;
}
.link-button:active, .icon-button:active {
  background: rgba(0, 0, 0, 0.1);
}

.link-button[disabled], [disabled].icon-button {
  opacity: .3;
}
.link-button[disabled]:active, [disabled].icon-button:active {
  background: none;
}

.icon-button {
  position: relative;
  padding-left: 14px;
}
.icon-button:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 0;
  background-image: url("../images/sprite.png");
}

.plus:before {
  background-position: 0 -32px;
}

/* #Buttons
================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  cursor: default;
  background-color: #222;
  background: -webkit-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: -moz-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: -o-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: linear-gradient(to bottom, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid #313131;
  padding: 0 16px;
}
.button.blue,
button.blue,
input[type="submit"].blue,
input[type="reset"].blue,
input[type="button"].blue {
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: linear-gradient(to bottom, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
}
.button.light-gray, div.version button.button,
button.light-gray,
div.version button,
input[type="submit"].light-gray,
input[type="reset"].light-gray,
input[type="button"].light-gray {
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 5%, #e6e6e6 6%, #d1d1d1 100%);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 5%, #e6e6e6 6%, #d1d1d1 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #f9f9f9 5%, #e6e6e6 6%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 5%, #e6e6e6 6%, #d1d1d1 100%);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  color: #373737;
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: -webkit-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: -moz-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: -o-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: linear-gradient(to bottom, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
}
.button:active.blue,
button:active.blue,
input[type="submit"]:active.blue,
input[type="reset"]:active.blue,
input[type="button"]:active.blue {
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: linear-gradient(to bottom, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
}
.button:active.light-gray, div.version button.button:active,
button:active.light-gray,
div.version button:active,
input[type="submit"]:active.light-gray,
input[type="reset"]:active.light-gray,
input[type="button"]:active.light-gray {
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 5%, #d1d1d1 6%, #e6e6e6 100%);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 5%, #d1d1d1 6%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #f9f9f9 5%, #d1d1d1 6%, #e6e6e6 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 5%, #d1d1d1 6%, #e6e6e6 100%);
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  opacity: .3;
}
.button[disabled]:active,
button[disabled]:active,
input[type="submit"][disabled]:active,
input[type="reset"][disabled]:active,
input[type="button"][disabled]:active {
  background: -webkit-linear-gradient(top, #3f3f3f, #000000);
  background: -moz-linear-gradient(top, #3f3f3f, #000000);
  background: -o-linear-gradient(top, #3f3f3f, #000000);
  background: linear-gradient(to bottom, #3f3f3f, #000000);
}
.button[disabled]:active.blue,
button[disabled]:active.blue,
input[type="submit"][disabled]:active.blue,
input[type="reset"][disabled]:active.blue,
input[type="button"][disabled]:active.blue {
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: linear-gradient(to bottom, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Big Buttons
================================================== */
.button-big, div.modal-container button, div.modal-container .button, div.page-editor > div form button, div.page-editor > div form .button {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 16px;
  cursor: default;
  background-color: #222;
  background: -webkit-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
  background: -moz-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #f8f8f8 100%);
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  padding: 0 20px;
}
.button-big.blue, div.modal-container button.blue, div.modal-container .blue.button, div.page-editor > div form button.blue, div.page-editor > div form .blue.button {
  background: -webkit-linear-gradient(top, #eff8fe 0%, #e7f4fc 100%);
  background: -moz-linear-gradient(top, #eff8fe 0%, #e7f4fc 100%);
  background: -o-linear-gradient(top, #eff8fe 0%, #e7f4fc 100%);
  background: linear-gradient(to bottom, #eff8fe 0%, #e7f4fc 100%);
}
.button-big:active, div.modal-container button:active, div.modal-container .button:active, div.page-editor > div form button:active, div.page-editor > div form .button:active {
  background: -webkit-linear-gradient(top, #e1e1e1 0%, #f6f6f6 100%);
  background: -moz-linear-gradient(top, #e1e1e1 0%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #e1e1e1 0%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #e1e1e1 0%, #f6f6f6 100%);
}
.button-big:active.blue, div.modal-container button:active.blue, div.modal-container .button:active.blue, div.page-editor > div form button:active.blue, div.page-editor > div form .button:active.blue {
  background: -webkit-linear-gradient(top, #cadeeb 0%, #dae8f1 100%);
  background: -moz-linear-gradient(top, #cadeeb 0%, #dae8f1 100%);
  background: -o-linear-gradient(top, #cadeeb 0%, #dae8f1 100%);
  background: linear-gradient(to bottom, #cadeeb 0%, #dae8f1 100%);
}

/* #Forms
================================================== */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: textfield;
  margin: 0 0 36px 0;
  border-radius: 0px;
  resize: none;
  height: 34px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  padding: 8px 14px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  border: 1px solid #bfbfbf;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

div.input-margin {
  margin: 0 0 36px 0;
}

select {
  -webkit-appearance: none;
  margin: 0 0 36px 0;
  border-radius: 3px;
  height: 34px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  padding: 8px 39px 8px 14px;
  border: 1px solid #bfbfbf;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/sprite.png'), -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: url('../images/sprite.png'), -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: url('../images/sprite.png'), -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: url('../images/sprite.png'), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-position: right -86px, 0 0;
  background-repeat: no-repeat, repeat;
}

label {
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 18px 0;
}

label.no-class {
  display: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  text-transform: inherit;
  margin: inherit;
}

label.no-text-transform {
  text-transform: none;
}

label.checkbox {
  display: inline;
  font-size: 14px;
  margin: 0 18px 0 0;
  font-weight: 300;
  vertical-align: top;
  line-height: 18px;
}
label.checkbox input {
  margin: 0;
  -webkit-appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/sprite.png");
  background-position: 0 -64px;
}
label.checkbox input:checked {
  background-position: -18px -64px;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  # Container
  # Navigation
  # Target
  # Loader & Error  */
/* # Container
================================================== */
#main {
  z-index: 3;
  position: fixed;
  background: #4d4d4d;
  float: left;
  height: 100%;
  width: 306px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#main #content {
  height: 100%;
  padding-top: 42px;
  max-width: 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#main .version + #content {
  padding-bottom: 160px;
}

/* # Navigation
================================================== */
#main nav {
  position: fixed;
  width: 306px;
  height: 42px;
  background: -webkit-linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
  background: -moz-linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
  background: -o-linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
  background: linear-gradient(to bottom, #292e34 0%, #373d44 75%, #2a2f35 100%);
}
#main nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
#main nav a {
  margin: 0 3px;
  position: relative;
  display: block;
  width: 32px;
  height: 42px;
  cursor: default;
}
#main nav a:after {
  position: absolute;
  top: 13px;
  left: 8px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/sprite.png");
}
#main nav a.structure:after {
  background-position-x: 0;
}
#main nav a.components:after {
  background-position-x: -16px;
}
#main nav a.files:after {
  background-position-x: -32px;
}
#main nav a.intl:after {
  background-position-x: -48px;
}
#main nav a.diff:after {
  background-position-x: -64px;
}
#main nav a.current {
  background: rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.43);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.43);
}
#main nav a.current:after {
  background-position-y: -16px;
}

/* # Target
================================================== */
#target {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 42px 0 0 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
#target iframe {
  width: 100%;
  height: 100%;
}

/* #￼Loader & Error
================================================== */
.loader, .error {
  background-color: #383838;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  legt: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-flex-pack: center;
  -moz-box-pack: center;
  -moz-flex-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
  -o-box-pack: center;
  -o-flex-pack: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -moz-box-align: center;
  -moz-flex-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
  -o-box-align: center;
  -o-flex-align: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  text-align: center;
}
.loader h1, .error h1 {
  margin-bottom: 20px;
  color: white;
}

.error h1 {
  color: red;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #Context Menu
================================================== */
div.context-menu {
  z-index: 10;
  position: absolute;
  width: 260px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 1px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
div.context-menu ul {
  padding: 4px 0;
}
div.context-menu ul li a {
  cursor: default;
  color: #333;
  font-size: 13px;
  display: block;
  padding: 4px 8px;
}
div.context-menu ul li a:hover {
  background: #ddd;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #Tool bar
================================================== */
div#toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
}
div#toolbar > div {
  padding-left: 306px;
  height: 42px;
  background: #e5e5e5;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
div#toolbar > div > div:first-child {
  -webkit-box-grow: 1;
  -webkit-flex-grow: 1;
  -moz-box-grow: 1;
  -moz-flex-grow: 1;
  -ms-box-grow: 1;
  -ms-flex-grow: 1;
  -o-box-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
}
div#toolbar > div > div:first-child a.toolbar-button {
  position: relative;
  float: left;
  display: block;
  font-weight: 700;
  color: #747c84;
  line-height: 42px;
  padding: 0 20px 0 48px;
  cursor: default;
}
div#toolbar > div > div:first-child a.toolbar-button:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 20px;
  background-image: url("../images/sprite.png");
}
div#toolbar > div > div:first-child a.toolbar-button.preview:before {
  background-position: -10px -32px;
}
div#toolbar > div > div:first-child a.toolbar-button.edit:before {
  background-position: -26px -32px;
}
div#toolbar > div > div:first-child a.toolbar-button.current {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #50555a;
}
div#toolbar > div > div:first-child a.toolbar-button.current:before {
  background-position-y: -48px;
}
div#toolbar > div > div:last-child {
  padding-right: 12px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
div#toolbar > div > div:last-child > * + * {
  margin-left: 12px;
}
div#toolbar > div > div:last-child a.reload {
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  background-image: url("../images/sprite.png");
  background-position: -113px 0;
}
div#toolbar > div > div:last-child a.reload:active {
  background-color: rgba(0, 0, 0, 0.1);
}
div#toolbar > div > div:last-child div.select {
  color: #747c84;
  white-space: nowrap;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #Modal Window
================================================== */
div.modal-container {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-animation-name: modal-opacity;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: modal-opacity;
  -moz-animation-duration: 0.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: modal-opacity;
  -o-animation-duration: 0.4s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-in-out;
  -o-animation-fill-mode: forwards;
  -ms-animation-name: modal-opacity;
  -ms-animation-duration: 0.4s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-fill-mode: forwards;
  animation-name: modal-opacity;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
div.modal-container div.modal-window {
  width: 524px;
  padding: 30px 30px 50px 30px;
  background: white;
  margin-bottom: 200px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
div.modal-container div.modal-window div.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  box-pack: end;
}
div.modal-container div.modal-window input[type="text"] {
  width: 524px;
}
div.modal-container input:last-child {
  margin-bottom: 0;
}

/* #Blur
================================================== */
body.blur #main, body.blur #toolbar, body.blur #target {
  -webkit-animation-name: modal-blur;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-name: modal-blur;
  -moz-animation-duration: 0.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -o-animation-name: modal-blur;
  -o-animation-duration: 0.4s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-in-out;
  -o-animation-fill-mode: both;
  -ms-animation-name: modal-blur;
  -ms-animation-duration: 0.4s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-fill-mode: both;
  animation-name: modal-blur;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@-webkit-keyframes modal-blur {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-moz-keyframes modal-blur {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-o-keyframes modal-blur {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-ms-keyframes modal-blur {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@keyframes modal-blur {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-webkit-keyframes modal-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes modal-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes modal-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes modal-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #Structure container
================================================== */
#content div.structure {
  height: 100%;
  overflow: auto;
}
#content div.structure > a.icon-button {
  margin-left: 16px;
  display: block;
  float: left;
  margin-top: 4px;
  margin-bottom: 20px;
}
#content div.structure div {
  margin-bottom: 24px;
  margin-right: 16px;
  float: right;
}
#content div.structure div a.cancel {
  margin-right: 12px;
}

/* #Structure list
================================================== */
ul.structure {
  margin-top: 16px;
  margin-bottom: 14px;
  padding-bottom: 10px;
}
ul.structure > li a {
  position: relative;
  display: block;
  color: white;
  font-size: 12px;
  line-height: 14px;
  cursor: default;
  text-shadow: 0px 1px 2px #aaaaaa;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa;
}
ul.structure > li a span {
  display: block;
  color: #808080;
  text-shadow: none;
}
ul.structure > li > a {
  padding-top: 8px;
  border-top: 1px dotted #3e3e3e;
  padding-left: 34px;
  /*		&:after {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 14px;
              right: $main-margin-right;
              background-image: url('../images/sprite.png');
              background-position: -85px 0;
          }*/
}
ul.structure > li > a:before {
  content: "";
  display: block;
  width: 5px;
  height: 7px;
  position: absolute;
  top: 14px;
  left: 16px;
  background-image: url("../images/sprite.png");
  background-position: -80px 0;
}
ul.structure > li ul {
  padding-bottom: 2px;
  padding-top: 8px;
  padding-left: 34px;
}
ul.structure > li ul li {
  position: relative;
  padding-left: 30px;
}
ul.structure > li ul li:before {
  position: absolute;
  background-image: url("../images/structure-tree.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 12px;
  height: 100%;
  width: 16px;
  content: "";
  display: block;
  top: -0;
  left: 10px;
}
ul.structure > li ul li:last-child:before {
  background-image: url("../images/structure-tree-bottom.png");
  background-position: left bottom;
}
ul.structure > li:last-child {
  border-bottom: 1px dotted #3e3e3e;
}
ul.structure li.sortable-placeholder {
  height: 37px;
  background: rgba(255, 255, 255, 0.05);
  background-clip: content-box;
}
ul.structure ul ul {
  padding-left: 0;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #Page Editor
================================================== */
div.page-editor {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 42px 0 0 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  background: white;
}
div.page-editor > div {
  width: 100%;
  height: 100%;
  background: white;
}
div.page-editor > div form {
  width: 660px;
  margin: 0 auto;
  padding: 40px 0;
}
div.page-editor > div form nav {
  margin-bottom: 40px;
}
div.page-editor > div form nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
div.page-editor > div form nav ul li {
  padding: 0 14px;
}
div.page-editor > div form nav ul li a {
  cursor: default;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 4px;
}
div.page-editor > div form nav ul li.current a {
  border-bottom: 2px solid #1b81c0;
}
div.page-editor > div form nav ul li:first-child {
  padding-left: 0px;
}
div.page-editor > div form textarea {
  width: 100%;
  resize: vertical;
  height: 36px;
}
div.page-editor > div form ul.array {
  margin-bottom: 36px;
}
div.page-editor > div form ul.array li {
  border-left: 6px solid #e5e5e5;
  padding-left: 24px;
  margin-bottom: 24px;
}
div.page-editor > div form ul.array li label {
  float: left;
  width: 120px;
  line-height: 36px;
}
div.page-editor > div form ul.array li textarea {
  width: 510px;
  margin-bottom: 24px;
}
div.page-editor > div form ul.array li textarea:last-child {
  margin-bottom: 0;
}
div.page-editor > div form ul.array li.sortable-placeholder {
  height: 60px;
  background: #f1f1f1;
}
div.page-editor > div form div.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  box-pack: end;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* #File container
================================================== */
#content .files {
  height: 100%;
  overflow: auto;
}
#content .files input[type="file"] {
  position: absolute;
  visibility: hidden;
}
#content .files > label a.icon-button {
  margin-left: 16px;
  display: block;
  float: left;
  margin-top: 16px;
  margin-bottom: 10px;
}
#content .files ul {
  clear: both;
  margin-left: 16px;
}
#content .files ul li {
  position: relative;
  float: left;
  display: block;
  width: 82px;
  height: 82px;
  overflow: hidden;
  padding: 0;
  margin: 0 6px 6px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
#content .files ul li img {
  display: block;
}
#content .files ul li img.dark {
  opacity: .1;
}
#content .files ul li .progress {
  position: absolute;
  top: 56px;
  left: 9px;
  display: block;
  width: 64px;
  height: 3px;
  border-radius: 2px;
  background: black;
}
#content .files ul li .progress div {
  position: absolute;
  top: 0;
  left: 0;
  background: #0084ff;
  height: 3px;
}
#content .files ul li:nth-child(3n) {
  margin: 0 0 14px 0;
}

/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
  #Font weight
  #Margins and dimensions
  #Colors definitions */
/* #Font weight
================================================== */
/* #Margins and dimensions
================================================== */
/* #Colors definitions
================================================== */
/* Table of Content
==================================================
#Media Queries
#Animations
#Flexbox
#Flexbox Container
#Flexbox Item */
/* #Media Queries
================================================== */
/* #Animations
================================================== */
/* #Flexbox
================================================== */
/* #Flexbox Container
================================================== */
/* #Flexbox Item
================================================== */
/* Table of Content
==================================================
	#Version￼ */
/* #Version
================================================== */
div.version {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 22px 0;
  width: 306px;
  text-align: center;
  background-color: #5f5f5f;
  border-top: 1px solid #7f7f7f;
  -webkit-box-shadow: 0px -1px 0px #282828;
  -moz-box-shadow: 0px -1px 0px #282828;
  box-shadow: 0px -1px 0px #282828;
}
div.version h4 {
  font-size: 12px;
  font-weight: 700;
  color: #5ed754;
  margin-bottom: 14px;
  line-height: 16px;
  vertical-align: top;
}
div.version h4:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url("../images/sprite.png");
  background-position: -97px 0;
}
div.version h4.pull {
  color: #ecc800;
}
div.version h4.pull:before {
  background-position: -97px -16px;
}
div.version p {
  color: gainsboro;
  margin-bottom: 14px;
  padding: 0 20px;
}
