<form method="post" novalidate>
    <errors></errors>

    <div>
        <label for="signup-name">Name</label><br>
        <input type="text" id="signup-name" name="name" value="" tabindex="1" autocomplete="on" spellcheck="false" maxlength="255">
    </div>

    <div>
        <label for="signup-email">Email address</label><br>
        <input type="email" id="signup-email" name="email" value="" tabindex="1" autocomplete="on" spellcheck="false" maxlength="255">
    </div>

    <div>
        <label for="signup-password">Password</label><br>
        <input type="password" id="signup-password" name="password" value="" tabindex="1">
    </div>

    <button type="submit">Sign up</button>
</form>