<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fluid CMS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
    <link rel="stylesheet" href="stylesheets/fluid-1.0.css">
    <link rel="icon" href="images/favicon.png">
    <script>
        var fluidBranch = "{{ branch }}";
        var fluidUrl = "{{ site_url }}";
        var fluidWebSocketUrl = "{{ websocket_url }}";
        var fluidUserId = "{{ user_id }}";
    </script>
    <script src="javascripts/vendor/autobahn.js"></script>
    <script data-main="javascripts/fluid/bootstrap.js" src="javascripts/vendor/require.js"></script>
</head>
<body>
{% include 'app.twig' %}
</body>
</html>