<a data-action="addSection" class="icon-button plus">Section</a>
<div>
	<a data-action="cancelChanges" class="link-button cancel" disabled>Cancel</a>
	<a data-action="saveChanges" class="button blue" disabled>Save</a>
</div>