@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Reset
================================================== */
/* line 9, ../../Stylesheets/base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 15, ../../Stylesheets/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 18, ../../Stylesheets/base.scss */
html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* line 23, ../../Stylesheets/base.scss */
ol, ul {
  list-style: none;
}

/* #Basic Styles
================================================== */
/* line 29, ../../Stylesheets/base.scss */
body {
  background: #383838 url("http://cdn.fluidcms.net/images/background.gif");
  font: 12px/18px "Roboto", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* #Links
================================================== */
/* line 43, ../../Stylesheets/base.scss */
.link-button, .icon-button {
  color: white;
  font-weight: 700;
  border-radius: 2px;
  cursor: default;
}
/* line 48, ../../Stylesheets/base.scss */
.link-button:active, .icon-button:active {
  background: rgba(0, 0, 0, 0.1);
}

/* line 52, ../../Stylesheets/base.scss */
.link-button[disabled], [disabled].icon-button {
  opacity: .3;
}
/* line 54, ../../Stylesheets/base.scss */
.link-button[disabled]:active, [disabled].icon-button:active {
  background: none;
}

/* line 59, ../../Stylesheets/base.scss */
.icon-button {
  position: relative;
  padding-left: 14px;
}
/* line 63, ../../Stylesheets/base.scss */
.icon-button:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 0;
  background-image: url("http://cdn.fluidcms.net/images/sprite.png");
}

/* line 74, ../../Stylesheets/base.scss */
.plus:before {
  background-position: 0 -32px;
}

/* #Buttons
================================================== */
/* line 85, ../../Stylesheets/base.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  cursor: default;
  background-color: #222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4a4a4), color-stop(5%, #a4a4a4), color-stop(6%, #7a7a7a), color-stop(100%, #515151));
  background: -webkit-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: -moz-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: -o-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid #313131;
  padding: 0 16px;
}
/* line 101, ../../Stylesheets/base.scss */
.button.blue,
button.blue,
input[type="submit"].blue,
input[type="reset"].blue,
input[type="button"].blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6fc), color-stop(5%, #6fc6fc), color-stop(6%, #2fabf7), color-stop(100%, #1677b4));
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
}
/* line 105, ../../Stylesheets/base.scss */
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4a4a4), color-stop(5%, #a4a4a4), color-stop(6%, #515151), color-stop(100%, #7a7a7a));
  background: -webkit-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: -moz-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: -o-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
}
/* line 107, ../../Stylesheets/base.scss */
.button:active.blue,
button:active.blue,
input[type="submit"]:active.blue,
input[type="reset"]:active.blue,
input[type="button"]:active.blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6fc), color-stop(5%, #6fc6fc), color-stop(6%, #1677b4), color-stop(100%, #2fabf7));
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
}

/* line 117, ../../Stylesheets/base.scss */
.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  opacity: .3;
}
/* line 119, ../../Stylesheets/base.scss */
.button[disabled]:active,
button[disabled]:active,
input[type="submit"][disabled]:active,
input[type="reset"][disabled]:active,
input[type="button"][disabled]:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #3f3f3f, #000000);
  background: -moz-linear-gradient(top, #3f3f3f, #000000);
  background: -o-linear-gradient(top, #3f3f3f, #000000);
  background: linear-gradient(top, #3f3f3f, #000000);
}
/* line 121, ../../Stylesheets/base.scss */
.button[disabled]:active.blue,
button[disabled]:active.blue,
input[type="submit"][disabled]:active.blue,
input[type="reset"][disabled]:active.blue,
input[type="button"][disabled]:active.blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6fc), color-stop(4%, #6fc6fc), color-stop(5%, #2fabf7), color-stop(100%, #1677b4));
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
}

/* Fix for odd Mozilla border & padding issues */
/* line 129, ../../Stylesheets/base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */
/* line 144, ../../Stylesheets/base.scss */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select {
  -webkit-appearance: textfield;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  height: 23px;
  outline: none;
  font-size: 13px;
  color: #333;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 6px 0 18px 0;
  padding: 2px 8px;
}

/* line 161, ../../Stylesheets/base.scss */
select {
  padding: 5px 0;
  height: auto;
}

/* line 171, ../../Stylesheets/base.scss */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
