/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Context Menu
================================================== */
/* line 6, ../../Stylesheets/context-menu.scss */
div.context-menu {
  z-index: 10;
  position: absolute;
  width: 260px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 1px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
/* line 15, ../../Stylesheets/context-menu.scss */
div.context-menu ul {
  padding: 4px 0;
}
/* line 18, ../../Stylesheets/context-menu.scss */
div.context-menu ul li a {
  cursor: default;
  color: #333;
  font-size: 13px;
  display: block;
  padding: 4px 8px;
}
/* line 24, ../../Stylesheets/context-menu.scss */
div.context-menu ul li a:hover {
  background: #ddd;
}
