/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #File container
================================================== */
/* line 8, ../../Stylesheets/file.scss */
.file input[type="file"] {
  position: absolute;
  visibility: hidden;
}
/* line 12, ../../Stylesheets/file.scss */
.file > label a.icon-button {
  margin-left: 16px;
  display: block;
  float: left;
  margin-top: 16px;
  margin-bottom: 10px;
}
/* line 20, ../../Stylesheets/file.scss */
.file ul {
  clear: both;
  margin-left: 16px;
}
/* line 23, ../../Stylesheets/file.scss */
.file ul li {
  position: relative;
  float: left;
  display: block;
  width: 82px;
  height: 82px;
  overflow: hidden;
  padding: 0;
  margin: 0 14px 14px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
/* line 35, ../../Stylesheets/file.scss */
.file ul li img {
  display: block;
}
/* line 37, ../../Stylesheets/file.scss */
.file ul li img.dark {
  opacity: .1;
}
/* line 41, ../../Stylesheets/file.scss */
.file ul li .progress {
  position: absolute;
  top: 56px;
  left: 9px;
  display: block;
  width: 64px;
  height: 3px;
  border-radius: 2px;
  background: black;
}
/* line 50, ../../Stylesheets/file.scss */
.file ul li .progress div {
  position: absolute;
  top: 0;
  left: 0;
  background: #0084ff;
  height: 3px;
}
