/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Reset
================================================== */
/* line 8, ../../Stylesheets/base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 14, ../../Stylesheets/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../../Stylesheets/base.scss */
html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* line 22, ../../Stylesheets/base.scss */
ol, ul {
  list-style: none;
}

/* #Basic Styles
================================================== */
/* line 28, ../../Stylesheets/base.scss */
body {
  background: #383838 url("../images/background.gif");
  font: 12px/18px "Roboto", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* #Links
================================================== */
/* line 42, ../../Stylesheets/base.scss */
.link-button, .icon-button {
  color: white;
  font-weight: 700;
  border-radius: 2px;
  cursor: default;
}
/* line 47, ../../Stylesheets/base.scss */
.link-button:active, .icon-button:active {
  background: rgba(0, 0, 0, 0.1);
}

/* line 51, ../../Stylesheets/base.scss */
.link-button[disabled], [disabled].icon-button {
  opacity: .3;
}
/* line 53, ../../Stylesheets/base.scss */
.link-button[disabled]:active, [disabled].icon-button:active {
  background: none;
}

/* line 58, ../../Stylesheets/base.scss */
.icon-button {
  position: relative;
  padding-left: 14px;
}
/* line 62, ../../Stylesheets/base.scss */
.icon-button:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 0;
  background-image: url("../images/sprite.png");
}

/* line 73, ../../Stylesheets/base.scss */
.plus:before {
  background-position: 0 -32px;
}

/* #Buttons
================================================== */
/* line 84, ../../Stylesheets/base.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  cursor: default;
  background-color: #222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4a4a4), color-stop(5%, #a4a4a4), color-stop(6%, #7a7a7a), color-stop(100%, #515151));
  background: -webkit-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: -moz-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: -o-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background: linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #7a7a7a 6%, #515151 100%);
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid #313131;
  padding: 0 16px;
}
/* line 100, ../../Stylesheets/base.scss */
.button.blue,
button.blue,
input[type="submit"].blue,
input[type="reset"].blue,
input[type="button"].blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6fc), color-stop(5%, #6fc6fc), color-stop(6%, #2fabf7), color-stop(100%, #1677b4));
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
  background: linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #2fabf7 6%, #1677b4 100%);
}
/* line 104, ../../Stylesheets/base.scss */
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4a4a4), color-stop(5%, #a4a4a4), color-stop(6%, #515151), color-stop(100%, #7a7a7a));
  background: -webkit-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: -moz-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: -o-linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
  background: linear-gradient(top, #a4a4a4 0%, #a4a4a4 5%, #515151 6%, #7a7a7a 100%);
}
/* line 106, ../../Stylesheets/base.scss */
.button:active.blue,
button:active.blue,
input[type="submit"]:active.blue,
input[type="reset"]:active.blue,
input[type="button"]:active.blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6fc), color-stop(5%, #6fc6fc), color-stop(6%, #1677b4), color-stop(100%, #2fabf7));
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
  background: linear-gradient(top, #6fc6fc 0%, #6fc6fc 5%, #1677b4 6%, #2fabf7 100%);
}

/* line 116, ../../Stylesheets/base.scss */
.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  opacity: .3;
}
/* line 118, ../../Stylesheets/base.scss */
.button[disabled]:active,
button[disabled]:active,
input[type="submit"][disabled]:active,
input[type="reset"][disabled]:active,
input[type="button"][disabled]:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #3f3f3f, #000000);
  background: -moz-linear-gradient(top, #3f3f3f, #000000);
  background: -o-linear-gradient(top, #3f3f3f, #000000);
  background: linear-gradient(top, #3f3f3f, #000000);
}
/* line 120, ../../Stylesheets/base.scss */
.button[disabled]:active.blue,
button[disabled]:active.blue,
input[type="submit"][disabled]:active.blue,
input[type="reset"][disabled]:active.blue,
input[type="button"][disabled]:active.blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6fc), color-stop(4%, #6fc6fc), color-stop(5%, #2fabf7), color-stop(100%, #1677b4));
  background: -webkit-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: -moz-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: -o-linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
  background: linear-gradient(top, #6fc6fc 0%, #6fc6fc 4%, #2fabf7 5%, #1677b4 100%);
}

/* Fix for odd Mozilla border & padding issues */
/* line 128, ../../Stylesheets/base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */
/* line 143, ../../Stylesheets/base.scss */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select {
  -webkit-appearance: textfield;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  height: 23px;
  outline: none;
  font-size: 13px;
  color: #333;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 6px 0 18px 0;
  padding: 2px 8px;
}

/* line 160, ../../Stylesheets/base.scss */
select {
  padding: 5px 0;
  height: auto;
}

/* line 170, ../../Stylesheets/base.scss */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* #Container
================================================== */
/* line 7, ../../Stylesheets/fluid.scss */
#main {
  z-index: 3;
  position: fixed;
  background: #4d4d4d;
  float: left;
  height: 100%;
  width: 306px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

/* #Navigation
================================================== */
/* line 20, ../../Stylesheets/fluid.scss */
#main nav {
  width: 100%;
  height: 42px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #292e34), color-stop(75%, #373d44), color-stop(100%, #2a2f35));
  background: -webkit-linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
  background: -moz-linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
  background: -o-linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
  background: linear-gradient(top, #292e34 0%, #373d44 75%, #2a2f35 100%);
}
/* line 25, ../../Stylesheets/fluid.scss */
#main nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
/* line 33, ../../Stylesheets/fluid.scss */
#main nav a {
  margin: 0 3px;
  position: relative;
  display: block;
  width: 32px;
  height: 42px;
}
/* line 39, ../../Stylesheets/fluid.scss */
#main nav a:after {
  position: absolute;
  top: 13px;
  left: 8px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/sprite.png");
}
/* line 49, ../../Stylesheets/fluid.scss */
#main nav a.structure:after {
  background-position-x: 0;
}
/* line 50, ../../Stylesheets/fluid.scss */
#main nav a.components:after {
  background-position-x: -16px;
}
/* line 51, ../../Stylesheets/fluid.scss */
#main nav a.files:after {
  background-position-x: -32px;
}
/* line 52, ../../Stylesheets/fluid.scss */
#main nav a.intl:after {
  background-position-x: -48px;
}
/* line 53, ../../Stylesheets/fluid.scss */
#main nav a.diff:after {
  background-position-x: -64px;
}
/* line 54, ../../Stylesheets/fluid.scss */
#main nav a.current {
  background: rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.43);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.43);
}
/* line 57, ../../Stylesheets/fluid.scss */
#main nav a.current:after {
  background-position-y: -16px;
}

/* #Target
================================================== */
/* line 64, ../../Stylesheets/fluid.scss */
#target {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 42px 0 0 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 74, ../../Stylesheets/fluid.scss */
#target iframe {
  width: 100%;
  height: 100%;
}

/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Context Menu
================================================== */
/* line 6, ../../Stylesheets/context-menu.scss */
div.context-menu {
  z-index: 10;
  position: absolute;
  width: 260px;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
/* line 15, ../../Stylesheets/context-menu.scss */
div.context-menu ul {
  padding: 4px 0;
}
/* line 18, ../../Stylesheets/context-menu.scss */
div.context-menu ul li a {
  color: #333;
  font-size: 13px;
  display: block;
  padding: 4px 8px;
}
/* line 23, ../../Stylesheets/context-menu.scss */
div.context-menu ul li a:hover {
  background: #ddd;
}

/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Tool bar
================================================== */
/* line 6, ../../Stylesheets/toolbar.scss */
div#toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
}
/* line 13, ../../Stylesheets/toolbar.scss */
div#toolbar > div {
  padding-left: 306px;
  height: 42px;
  background: #e5e5e5;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 19, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button {
  position: relative;
  float: left;
  display: block;
  font-weight: 700;
  color: #747c84;
  line-height: 42px;
  padding: 0 20px 0 48px;
  cursor: default;
}
/* line 28, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 20px;
  background-image: url("../images/sprite.png");
}
/* line 38, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.preview:before {
  background-position: -10px -32px;
}
/* line 39, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.edit:before {
  background-position: -26px -32px;
}
/* line 41, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.current {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #50555a;
}
/* line 45, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.current:before {
  background-position-y: -48px;
}
/* line 49, ../../Stylesheets/toolbar.scss */
div#toolbar > div div.select {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #747c84;
}

/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Modal Window
================================================== */
/* line 7, ../../Stylesheets/modal-window.scss */
div.modal-container {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-animation-name: modal-opacity;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: modal-opacity;
  -moz-animation-duration: 0.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: modal-opacity;
  -o-animation-duration: 0.4s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-in-out;
  -o-animation-fill-mode: forwards;
  -ms-animation-name: modal-opacity;
  -ms-animation-duration: 0.4s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-fill-mode: forwards;
  animation-name: modal-opacity;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
/* line 22, ../../Stylesheets/modal-window.scss */
div.modal-container div.modal-window {
  width: 320px;
  padding: 20px 30px;
  background: #f3f7fb;
  margin-bottom: 200px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
/* line 30, ../../Stylesheets/modal-window.scss */
div.modal-container div.modal-window div.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  box-pack: end;
}

/* line 36, ../../Stylesheets/modal-window.scss */
body.blur #main, body.blur #toolbar, body.blur #target {
  -webkit-animation-name: modal-blur;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-name: modal-blur;
  -moz-animation-duration: 0.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -o-animation-name: modal-blur;
  -o-animation-duration: 0.4s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-in-out;
  -o-animation-fill-mode: both;
  -ms-animation-name: modal-blur;
  -ms-animation-duration: 0.4s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-fill-mode: both;
  animation-name: modal-blur;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@-webkit-keyframes modal-blur {
  /* line 42, ../../Stylesheets/modal-window.scss */
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  /* line 48, ../../Stylesheets/modal-window.scss */
  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-moz-keyframes modal-blur {
  /* line 42, ../../Stylesheets/modal-window.scss */
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  /* line 48, ../../Stylesheets/modal-window.scss */
  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-o-keyframes modal-blur {
  /* line 42, ../../Stylesheets/modal-window.scss */
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  /* line 48, ../../Stylesheets/modal-window.scss */
  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-ms-keyframes modal-blur {
  /* line 42, ../../Stylesheets/modal-window.scss */
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  /* line 48, ../../Stylesheets/modal-window.scss */
  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@keyframes modal-blur {
  /* line 42, ../../Stylesheets/modal-window.scss */
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
  }

  /* line 48, ../../Stylesheets/modal-window.scss */
  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
}

@-webkit-keyframes modal-opacity {
  /* line 57, ../../Stylesheets/modal-window.scss */
  0% {
    opacity: 0;
  }

  /* line 60, ../../Stylesheets/modal-window.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes modal-opacity {
  /* line 57, ../../Stylesheets/modal-window.scss */
  0% {
    opacity: 0;
  }

  /* line 60, ../../Stylesheets/modal-window.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes modal-opacity {
  /* line 57, ../../Stylesheets/modal-window.scss */
  0% {
    opacity: 0;
  }

  /* line 60, ../../Stylesheets/modal-window.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes modal-opacity {
  /* line 57, ../../Stylesheets/modal-window.scss */
  0% {
    opacity: 0;
  }

  /* line 60, ../../Stylesheets/modal-window.scss */
  100% {
    opacity: 1;
  }
}

@keyframes modal-opacity {
  /* line 57, ../../Stylesheets/modal-window.scss */
  0% {
    opacity: 0;
  }

  /* line 60, ../../Stylesheets/modal-window.scss */
  100% {
    opacity: 1;
  }
}

/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Structure container
================================================== */
/* line 8, ../../Stylesheets/structure.scss */
.structure > a.icon-button {
  margin-left: 16px;
  display: block;
  float: left;
  margin-top: 4px;
}
/* line 14, ../../Stylesheets/structure.scss */
.structure div {
  margin-right: 16px;
  float: right;
}
/* line 15, ../../Stylesheets/structure.scss */
.structure div a.cancel {
  margin-right: 12px;
}

/* #Structure list
================================================== */
/* line 26, ../../Stylesheets/structure.scss */
ul.structure {
  margin-top: 16px;
  margin-bottom: 24px;
}
/* line 30, ../../Stylesheets/structure.scss */
ul.structure > li a {
  position: relative;
  display: block;
  color: white;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 8px;
  cursor: default;
  text-shadow: 0px 1px 2px #aaaaaa, 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa, 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa;
}
/* line 40, ../../Stylesheets/structure.scss */
ul.structure > li a span {
  display: block;
  color: #808080;
  text-shadow: none;
}
/* line 46, ../../Stylesheets/structure.scss */
ul.structure > li > a {
  padding-top: 8px;
  border-top: 1px dotted #3e3e3e;
  padding-left: 34px;
  /*		&:after {
  			content: "";
  			display: block;
  			width: 10px;
  			height: 10px;
  			position: absolute;
  			top: 14px;
  			right: $main-margin-right;
  			background-image: url('../images/sprite.png');
  			background-position: -85px 0;
  		}*/
}
/* line 51, ../../Stylesheets/structure.scss */
ul.structure > li > a:before {
  content: "";
  display: block;
  width: 5px;
  height: 7px;
  position: absolute;
  top: 14px;
  left: 16px;
  background-image: url("../images/sprite.png");
  background-position: -80px 0;
}
/* line 74, ../../Stylesheets/structure.scss */
ul.structure > li ul {
  min-height: 2px;
  padding-bottom: 2px;
  padding-left: 34px;
}
/* line 78, ../../Stylesheets/structure.scss */
ul.structure > li ul li {
  position: relative;
  padding-left: 30px;
}
/* line 80, ../../Stylesheets/structure.scss */
ul.structure > li ul li:before {
  position: absolute;
  background-image: url("../images/structure-tree.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 12px;
  height: 100%;
  width: 16px;
  content: "";
  display: block;
  top: -0;
  left: 10px;
}
/* line 93, ../../Stylesheets/structure.scss */
ul.structure > li ul li:last-child:before {
  background-image: url("../images/structure-tree-bottom.png");
  background-position: left bottom;
}
/* line 101, ../../Stylesheets/structure.scss */
ul.structure > li:last-child {
  border-bottom: 1px dotted #3e3e3e;
}
/* line 104, ../../Stylesheets/structure.scss */
ul.structure > li.sortable-placeholder {
  height: 37px;
  background: rgba(255, 255, 255, 0.05);
  background-clip: content-box;
}
/* line 109, ../../Stylesheets/structure.scss */
ul.structure ul ul {
  padding-left: 0;
}

/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Page Editor
================================================== */
/* line 6, ../../Stylesheets/page-editor.scss */
div.page-editor {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 42px 0 0 306px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 18, ../../Stylesheets/page-editor.scss */
div.page-editor > div {
  width: 100%;
  height: 100%;
  background: white;
}
/* line 23, ../../Stylesheets/page-editor.scss */
div.page-editor > div form {
  width: 660px;
  margin: 0 auto;
  padding: 40px 0;
}
/* line 28, ../../Stylesheets/page-editor.scss */
div.page-editor > div form label {
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 18px 0;
}
/* line 37, ../../Stylesheets/page-editor.scss */
div.page-editor > div form textarea {
  margin: 0 0 36px 0;
  border-radius: 0px;
  width: 100%;
  resize: none;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  padding: 8px 14px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  border: 1px solid #bfbfbf;
}
