/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Structure container
================================================== */
/* line 8, ../../Stylesheets/structure.scss */
.structure > a.icon-button {
  margin-left: 16px;
  display: block;
  float: left;
  margin-top: 4px;
}
/* line 14, ../../Stylesheets/structure.scss */
.structure div {
  margin-right: 16px;
  float: right;
}
/* line 15, ../../Stylesheets/structure.scss */
.structure div a.cancel {
  margin-right: 12px;
}

/* #Structure list
================================================== */
/* line 26, ../../Stylesheets/structure.scss */
ul.structure {
  margin-top: 16px;
  margin-bottom: 24px;
}
/* line 30, ../../Stylesheets/structure.scss */
ul.structure > li a {
  position: relative;
  display: block;
  color: white;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 8px;
  cursor: default;
  text-shadow: 0px 1px 2px #aaaaaa, 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa, 0px 1px 2px rgba(0, 0, 0, 0.75) #aaaaaa;
}
/* line 40, ../../Stylesheets/structure.scss */
ul.structure > li a span {
  display: block;
  color: #808080;
  text-shadow: none;
}
/* line 46, ../../Stylesheets/structure.scss */
ul.structure > li > a {
  padding-top: 8px;
  border-top: 1px dotted #3e3e3e;
  padding-left: 34px;
  /*		&:after {
  			content: "";
  			display: block;
  			width: 10px;
  			height: 10px;
  			position: absolute;
  			top: 14px;
  			right: $main-margin-right;
  			background-image: url('../images/sprite.png');
  			background-position: -85px 0;
  		}*/
}
/* line 51, ../../Stylesheets/structure.scss */
ul.structure > li > a:before {
  content: "";
  display: block;
  width: 5px;
  height: 7px;
  position: absolute;
  top: 14px;
  left: 16px;
  background-image: url("../images/sprite.png");
  background-position: -80px 0;
}
/* line 74, ../../Stylesheets/structure.scss */
ul.structure > li ul {
  min-height: 2px;
  padding-bottom: 2px;
  padding-left: 34px;
}
/* line 78, ../../Stylesheets/structure.scss */
ul.structure > li ul li {
  position: relative;
  padding-left: 30px;
}
/* line 80, ../../Stylesheets/structure.scss */
ul.structure > li ul li:before {
  position: absolute;
  background-image: url("../images/structure-tree.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 12px;
  height: 100%;
  width: 16px;
  content: "";
  display: block;
  top: -0;
  left: 10px;
}
/* line 93, ../../Stylesheets/structure.scss */
ul.structure > li ul li:last-child:before {
  background-image: url("../images/structure-tree-bottom.png");
  background-position: left bottom;
}
/* line 101, ../../Stylesheets/structure.scss */
ul.structure > li:last-child {
  border-bottom: 1px dotted #3e3e3e;
}
/* line 104, ../../Stylesheets/structure.scss */
ul.structure > li.sortable-placeholder {
  height: 37px;
  background: rgba(255, 255, 255, 0.05);
  background-clip: content-box;
}
/* line 109, ../../Stylesheets/structure.scss */
ul.structure ul ul {
  padding-left: 0;
}
