/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Tool bar
================================================== */
/* line 6, ../../Stylesheets/toolbar.scss */
div#toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
}
/* line 13, ../../Stylesheets/toolbar.scss */
div#toolbar > div {
  padding-left: 306px;
  height: 42px;
  background: #e5e5e5;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 19, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button {
  position: relative;
  float: left;
  display: block;
  font-weight: 700;
  color: #747c84;
  line-height: 42px;
  padding: 0 20px 0 48px;
  cursor: default;
}
/* line 28, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 20px;
  background-image: url("http://cdn.fluidcms.net/images/sprite.png");
}
/* line 38, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.preview:before {
  background-position: -10px -32px;
}
/* line 39, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.edit:before {
  background-position: -26px -32px;
}
/* line 41, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.current {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #50555a;
}
/* line 45, ../../Stylesheets/toolbar.scss */
div#toolbar > div a.toolbar-button.current:before {
  background-position-y: -48px;
}
/* line 49, ../../Stylesheets/toolbar.scss */
div#toolbar > div div.select {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #747c84;
}
