/* #Font weight
================================================== */
/* #Margins
================================================== */
/* #Animations
================================================== */
/* #Tool bar
================================================== */
/* line 7, ../../../../sass/toolbar.scss */
div#toolbar a.toolbar-button {
  position: relative;
  float: left;
  display: block;
  font-weight: 700;
  color: #747c84;
  line-height: 42px;
  padding: 0 20px 0 48px;
  cursor: default;
}
/* line 16, ../../../../sass/toolbar.scss */
div#toolbar a.toolbar-button:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 20px;
  background-image: url("http://cdn.fluidcms.net/images/sprite.png");
}
/* line 26, ../../../../sass/toolbar.scss */
div#toolbar a.toolbar-button.preview:before {
  background-position: -10px -32px;
}
/* line 27, ../../../../sass/toolbar.scss */
div#toolbar a.toolbar-button.edit:before {
  background-position: -26px -32px;
}
/* line 29, ../../../../sass/toolbar.scss */
div#toolbar a.toolbar-button.current {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #50555a;
}
/* line 33, ../../../../sass/toolbar.scss */
div#toolbar a.toolbar-button.current:before {
  background-position-y: -48px;
}
